---
kind: Service
apiVersion: v1
metadata:
  name: victoria-metrics
spec:
  selector:
    app: victoria-metrics
  type: NodePort
  ports:
  - port: 8428
    nodePort: 30428
    targetPort: 8428
    name: http
  - port: 4242
    nodePort: 30242
    targetPort: 4242
    name: opentsdb
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: victoria-metrics
  labels:
     app: victoria-metrics
spec:
   replicas: 1
   selector:
     matchLabels:
       app: victoria-metrics
   template:
      metadata:
         labels:
           app: victoria-metrics
      spec:
        containers:
        - args:
          - -opentsdbHTTPListenAddr=:4242 
          - -retentionPeriod=12
          - -storageDataPath=/tsdb
          - -search.maxConcurrentRequests=32
          name: victoria-metrics
          image: victoriametrics/victoria-metrics
          ports:
          - containerPort: 4242
            protocol: TCP
            name: opentsdb
          - containerPort: 8428
            protocol: TCP
            name: http
          volumeMounts:
          - name: vm-volume
            mountPath: /tsdb
        - name: vmbackup
          image: registry.cern.ch/cmsmonitoring/vmbackup-utility:20220603
          lifecycle:
            postStart:
              exec:
                command:
                  - "sh"
                  - "-c"
                  - >
                    echo "0 * * * * /data/run.sh >> /proc/$(cat /var/run/crond.pid)/fd/1 2>&1" | crontab -;
          volumeMounts:
          - name: vm-volume
            mountPath: /tsdb
          - name: secrets
            mountPath: /etc/secrets
        volumes:
        - name: vm-volume
          persistentVolumeClaim:
            claimName: vm-volume-claim
        - name: secrets
          secret:
            secretName: s3-keys
