# For debugging, not in use currently
---
kind: Service
apiVersion: v1
metadata:
  name: vmagent
spec:
  selector:
    app: vmagent
  type: NodePort
  ports:
  - port: 8429
    nodePort: 30429
    targetPort: 8429
    name: http
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vmagent
  labels:
     app: vmagent
spec:
   replicas: 1
   selector:
     matchLabels:
       app: vmagent
   template:
      metadata:
         labels:
           app: vmagent
      spec:
        containers:
        - args:
          - -promscrape.config=/etc/prometheus/prometheus.yaml
          - -remoteWrite.url=http://cms-monitoring-agg:30428/api/v1/write
          name: vmagent
          image: victoriametrics/vmagent
          ports:
          - containerPort: 8429
            protocol: TCP
            name: http
          volumeMounts:
          - name: prometheus-secrets
            mountPath: /etc/prometheus
            readOnly: true
        volumes:
        - name: prometheus-secrets
          secret:
            secretName: prometheus-secrets
