{{- $environment := .Values.environment | default dict }}
{{- if .Values.enabled -}}
kind: ConfigMap
apiVersion: v1
metadata:
  name: crabserver
  labels:
    app: crabserver
  namespace: crab
data:
  entrypoint.sh: |
{{ (.Files.Get "scripts/entrypoint.sh" | indent 4) }}
  config.py: |
{{- if (eq (toString $environment) "prod") }}
{{ (.Files.Get "config/prod/config.py" | indent 4) }}
{{- else if (eq (toString $environment) "preprod")}}
{{ (.Files.Get "config/preprod/config.py" | indent 4) }}
{{- else }}
{{ (.Files.Get "config/test/config.py" | indent 4) }}
{{- end }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: tnsnames-config
  labels:
    app: crabserver
  namespace: crab
data:
  tnsnames.ora: |
{{ (.Files.Get "config/tnsnames.ora" | indent 4) }}
{{- end }}
