{{- if .Values.logPipeline.enabled -}}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app: filebeat-crab
  name: filebeat-crab
  namespace: crab
spec:
  selector:
    matchLabels:
      app: filebeat-crab
  template:
    metadata:
      annotations:
        {{- $base := dict "configHash" (include "filebeat.configHash" .) -}}
        {{- $merged := merge $base (.Values.podAnnotations | default dict) -}}
        {{- toYaml $merged | nindent 8 }}
      labels:
        app: filebeat-crab
    spec:
      containers:
      - args:
        {{- toYaml .Values.logPipeline.filebeat.args | nindent 8 }}
        env:
        {{- toYaml .Values.logPipeline.filebeat.env | nindent 8 }}
        image: {{ .Values.logPipeline.filebeat.path }}
        imagePullPolicy: {{ .Values.logPipeline.filebeat.policy }}
        name: {{ .Values.logPipeline.filebeat.name }}
        resources:
        {{- toYaml .Values.logPipeline.filebeat.resources | nindent 10 }}
        volumeMounts:
        - mountPath: /var/log/pods
          name: varlogpods
          readOnly: true
        - mountPath: /var/log/containers
          name: varlogcontainers
          readOnly: true
        - mountPath: /etc/filebeat.yml
          name: config
          subPath: filebeat.yml
        - mountPath: /data
          name: data
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      volumes:
      - hostPath:
          path: /var/log/pods
          type: ""
        name: varlogpods
      - hostPath:
          path: /var/log/containers
          type: ""
        name: varlogcontainers
      - emptyDir: {}
        name: data
      - configMap:
          defaultMode: 416
          name: filebeat-crab-config
        name: config

{{- end }}
