{{- $environment := .Values.environment | default dict }}
{{- if .Values.logPipeline.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    k8s-app: logstash-crab
  name: logstash-crab
  namespace: {{ .Values.logPipeline.logstashNamespace }}
data:
  # pipeline config
  crabtaskworker.conf: |
{{ (.Files.Get (printf "config/%s/crabtaskworker.conf" $environment) | indent 4) }}
{{- end }}
