*.pem
*.log
*.crt
*.key
*.orig
config
config.cmsweb*
tmp
log
hmac

# PyCharm IDE
.idea

# 3rd party packages
kubernetes-prometheus

# docker area
docker/sqoop/awg-ETL-crons/

# skip configs/secrets
kubernetes/cmsweb/configs
kubernetes/cmsweb/new
kubernetes/cmsweb/secrets/
kubernetes/cmsweb/CMSWeb-openrc.sh
kubernetes/cmsweb-auth/configs/
kubernetes/cmsweb-auth/secrets/
kubernetes/udp-collector/secrets
kubernetes/udp-collector/config.*
kubernetes/udp-collector/helm_home
kubernetes/nats/secrets
kubernetes/nats/logs
kubernetes/nats/clients-auth.json
kubernetes/nats/config.*
kubernetes/nats/nats*.conf
kubernetes/nats/nats*.conf.nsc
kubernetes/nats/nats*.py
kubernetes/nats/nats*.tar.gz
kubernetes/nats/metrics-server
kubernetes/monitoring/config.*
kubernetes/monitoring/nats_secrets
kubernetes/monitoring/secrets
kubernetes/monitoring/secrets-afs
kubernetes/monitoring/metrics-server
kubernetes/monitoring/prometheus_secrets
kubernetes/monitoring/prometheus-config.yaml
kubernetes/redash/config.*
kubernetes/redash/secrets
kubernetes/tools/k8s_info
kubernetes/monitoring/cmsmon-configs
kubernetes/hcal/secrets
kubernetes/cmsweb/hcal.json
kubernetes/tfaas/config.json
kubernetes/tfaas/config.tfaas
kubernetes/cmsweb/dbs-scale
kubernetes/cmsweb/filebeat
docker/reqmgr2ms/Dockerfile.full
docker/reqmgr2ms/Dockerfile.new
docker/reqmgr2-small
docker/wmcore
docker/test-htcondor
docker/cuda
docker/gotorch
docker/py_vs_go

# Files containing DB passwords

kubernetes/rucio/DBURL.txt
kubernetes/rucio/testbed_db.txt
kubernetes/rucio/prod_db.txt
kubernetes/rucio/dev_db.txt
kubernetes/rucio/int_db.txt
kubernetes/rucio/ora12_db.txt

kubernetes/rucio/testbed-db.yaml
kubernetes/rucio/dev-db.yaml
kubernetes/rucio/cms-rucio-prod-db.yaml
kubernetes/rucio/int-db.yaml
kubernetes/rucio/prod-db.yaml
kubernetes/rucio/futureprod-db.yaml


kubernetes/rucio/dev_grafana_password.txt

!helm/crabserver/config
