*.pem
*.log
*.crt
*.key
*.orig
config
tmp

# 3rd party packages
kubernetes-prometheus

# Files containing DB passwords

kubernetes/rucio/DBURL.txt
kubernetes/rucio/testbed_db.txt
kubernetes/rucio/prod_db.txt
kubernetes/rucio/dev_db.txt
kubernetes/rucio/int_db.txt
kubernetes/rucio/ora12_db.txt

kubernetes/rucio/testbed-db.yaml
kubernetes/rucio/dev-db.yaml
kubernetes/rucio/cms-rucio-prod-db.yaml
kubernetes/rucio/int-db.yaml

kubernetes/rucio/dev_grafana_password.txt
