*.pem
*.log
*.crt
*.key
*.orig
config
tmp

# 3rd party packages
kubernetes-prometheus

# Files containing DB passwords

kubernetes/rucio/DBURL.txt
kubernetes/rucio/testbed_db.txt
kubernetes/rucio/prod_db.txt
kubernetes/rucio/dev_db.txt

kubernetes/rucio/cms-rucio-oldtest-db.yaml
kubernetes/rucio/cms-rucio-testbed-db.yaml
kubernetes/rucio/cms-rucio-dev-db.yaml
