kind: PersistentVolumeClaim
apiVersion: v1
metadata:
#   name: manila-cephfs-pvc
  name: geneva-cephfs-testing-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1G
  storageClassName: geneva-cephfs-testing
