apiVersion: batch/v1
kind: CronJob
metadata:
  name: cron-scaler
spec:
  # run crontab job every hour
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: scaler-account
          containers:
          - name: monitor
            image: cmssw/monitor
            args:
            - /bin/sh
            - -c
            - /data/monitor.sh prometheus-service.monitoring:8080 dbs-global-r dbs_global_exporter_memory_percent 10 15 1 3
          restartPolicy: Never
