apiVersion: constraints.gatekeeper.sh/v1beta1
kind: K8sPSPAllowPrivilegeEscalationContainer
metadata:
  name: allow-privilege-escalation
spec:
  match:
    kinds:
    - apiGroups:
      - ''
      kinds:
      - Pod
