
replicaCount: 1

image:
  repository: registry.cern.ch/cmsweb/exitcodes
  pullPolicy: IfNotPresent
  tag: "HG2011h-stable"

environment: 

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  annotations: {}
  name: ""

ingress:
  enabled: false

autoscaling:
  enabled: false

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

resources:
   limits:
     cpu: 300m
     memory: 256Mi
   requests:
     cpu: 100m
     memory: 64Mi

livenessProbe:
  initialDelaySeconds: 120
  periodSeconds: 10
  httpGet:
    path: /exitcodes/status
    port: 9201

nodeSelector: {}

tolerations: []

affinity: {}
