kind: Service
apiVersion: v1
metadata:
  name: httpgo
spec:
  type: ClusterIP
  ports:
  - port: 8888 # the port here is matching port used in registry.cern.ch/cmsweb/httpgo cotainer
    protocol: TCP
    name: http
  selector:
    app: httpgo
