---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dbs-phys03-w-filebeat-config
  namespace: dbs
  labels:
    k8s-app: filebeat
data:
  filebeat.yml: |-
    filebeat.inputs:
    - type: log
      enabled: true
      paths:
        - /data/srv/logs/dbs/*.log
      scan_frequency: 10s
      backoff: 5s
      max_backoff: 10s
    output.console:
      codec.format:
        string: 'Podname=${MY_POD_NAME} - %{[message]} - logfile=%{[log.file.path]}'
        pretty: false
    queue.mem:
      events: 65536
    logging.metrics.enabled: false
---
kind: Service
apiVersion: v1
metadata:
  name: dbs-phys03-w
  namespace: dbs
spec:
  selector:
    app: dbs-phys03-w
  ports:
    - port: 8255
      targetPort: 8255
      name: dbs-phys03-w
    - port: 18255
      targetPort: 18255
      name: dbs-pw-mon
    - port: 19255
      targetPort: 19255
      name: dbs-pw-cpy-mon
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: dbs-phys03-w
  labels:
    app: dbs-phys03-w
  namespace: dbs
data:
  setup-certs-and-run.sh: |
    #!/bin/bash

    cp /host/etc/grid-security/* /etc/grid-security
    echo 'INFO Files in /etc/grid-security'
    ls -lahZ /etc/grid-security
    su  -c "cd /data && /data/run.sh" --preserve-environment _dbs
---
kind: Deployment
apiVersion: apps/v1
metadata:
  labels:
    app: dbs-phys03-w
  name: dbs-phys03-w
  namespace: dbs
spec:
  selector:
    matchLabels:
      app: dbs-phys03-w
  replicas: 1 #PROD# 5
  template:
    metadata:
      labels:
        app: dbs-phys03-w
        env: k8s #k8s#
        job: dbs-phys03-w
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: "18255"
#         prometheus.io/port: "19255"
    spec:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
      containers:
      - image: cmssw/dbs #imagetag
        name: dbs-phys03-w
        livenessProbe:
          exec:
            command:
            - cmsweb-ping
            - "--url=http://localhost:8255/dbs/prod/phys03/DBSWriter/"
            - "--authz=/etc/hmac/hmac"
            - -verbose
            - "0"
          initialDelaySeconds: 120
          periodSeconds: 10
        resources:
          requests:
            memory: "2000Mi"
            cpu: "300m"
          limits:
            memory: "10Gi"
            cpu: "2000m"
        ports:
        - containerPort: 8255
          protocol: TCP
          name: dbs-phys03-w
        - containerPort: 18255
          protocol: TCP
          name: dbs-pw-mon
        - containerPort: 19255
          protocol: TCP
          name: dbs-pw-cpy-mon
        command:
        - /bin/bash
        - /opt/setup-certs-and-run/setup-certs-and-run.sh
        volumeMounts:
        - name: proxy-secrets
          mountPath: /etc/proxy
          readOnly: true
        - name: secrets
          mountPath: /etc/secrets
          readOnly: true
        - name: robot-secrets
          mountPath: /etc/robots
          readOnly: true
        - name: hmac-secrets
          mountPath: /etc/hmac
          readOnly: true
        - mountPath: /host/etc/grid-security
          name: etc-grid-security
          readOnly: true
        - name: setup-certs-and-run
          mountPath: /opt/setup-certs-and-run
        - name: logs
          mountPath: /data/srv/logs/dbs
      - name: dbs-phys03-w-filebeat
        image: docker.elastic.co/beats/filebeat:7.12.0
        args: [
          "-c", "/etc/filebeat.yml",
          "-e",
        ]
        env:
        - name: MY_POD_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.name
        resources:
          requests:
            memory: "50Mi"
            cpu: "50m"
        volumeMounts:
        - name: logs
          mountPath: /data/srv/logs/dbs
        - name: config
          mountPath: /etc/filebeat.yml
          readOnly: true
          subPath: filebeat.yml
        - name: data
          mountPath: /usr/share/filebeat/data
        - name: varlog
          mountPath: /var/log
        - name: varlibdockercontainers
          mountPath: /var/lib/docker/containers
          readOnly: true
        securityContext:
          privileged: true
      volumes:
      - name: proxy-secrets
        secret:
          secretName: proxy-secrets
      - name: secrets
        secret:
          secretName: dbs-phys03-w-secrets
      - name: robot-secrets
        secret:
          secretName: robot-secrets
      - name: hmac-secrets
        secret:
          secretName: hmac-secrets
      - name: etc-grid-security
        hostPath:
            path: /etc/grid-security
      - name: setup-certs-and-run
        configMap:
          name: dbs-phys03-w
      - name: logs
        emptyDir: {}
      - name: varlog
        hostPath:
          path: /var/log
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
      - name: config
        configMap:
          defaultMode: 0640
          name: dbs-phys03-w-filebeat-config
      - name: data
        emptyDir: {}
