apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rucio-consistency.fullname" . }}-consistency-config
data:
  config.yaml: |+
    rses:
      "*": # default
        partitions:     5
        scanner:
          recursion:      1
          nworkers:        8
          timeout:        180
          filter: NANOAOD
          server_root: {{.Values.consistency.defaultRoot }}
          remove_prefix: /
          add_prefix: /store/
          roots: 
          - path: mc
          - path: data
          - path: generator
          - path: results
          - path: hidata
          - path: himc
        dbdump:
          filter: NANOAOD
          path_root:   /
        #  lfn_to_path:
        #  - path: "^/+store/(.*)"
        #    out: "/$1"


      # Individual sites are configure thus where values differ (scanner is omitted in the helm values)
      # T2_BR_UERJ_Test:
      #   scanner:
      #     server: xrootd.hepgrid.uerj.br
      #     server_root: /store/test/rucio/int/cms/store
      #     timeout: 120

{{ range $site, $config := .Values.consistency.sites }}
      {{ $site }}:
{{- if $config }}
{{- if or (or $config.server $config.server_root) $config.timeout }}
        scanner:
{{- if  ($config.server) }}
          server: {{ $config.server }}
{{- end }}
{{- if  ($config.server_root) }}
          server_root: {{ $config.server_root }}
{{- end }}
{{- if  ($config.timeout) }}
          timeout: {{ $config.timeout }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
