* {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  line-height: 1.22em;
}

input {
  margin: 2px;
  padding: 2px;
}

body {
  background-image: url(../img/bk.gif);
  background-repeat: repeat;
}

ul {
  list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #823631;
}


p {
  margin-top: 1em;
  margin-right: 2em;
}

#main {
  padding: 15px 0px 70px 50px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 650px;
  background-color: #f7f7fd;
  border: 1px solid #c9c9c9;
  border-bottom: 2px solid #c0c0c0;
  border-right: 2px solid #c9c9c9;
  position: relative;
}

.box {
  color: #370502;
  padding-top: 20px;
}

.boxTitle {
  float: right;
  margin-right: 50px;
}

.boxSubtitle {
  color: #663;
  padding-top: 20px;
}

.boxLinkContainer {
  margin-top: 100px;
}

.boxSubtitle {
  font-weight: bold;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 10px;
}

.boxLinks {
  list-style: url(../img/dice.gif) circle;
  padding-left: 35px;
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 694px;
  background-color: #E7DFEC;
  padding: 5px 0 5px 5px;
  border-top: 1px solid #bdbdbe;
  color: #824040;
}

.boxFooter {
  float: right;
}

code {
  font-weight: bolder;
  color: #823631;
}

.note {
  text-align: right;
  color: #823631;
}

.note p {
  margin-top: 50px;
}