kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: cpio1
  namespace: dqm
provisioner: kubernetes.io/cinder
parameters:
  type: cpio1
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: dqmgui-claim
  namespace: dqm
  annotations:
    volume.beta.kubernetes.io/storage-class: cpio1
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10000Gi # pass here the size of the volume
