kind: Service
apiVersion: v1
metadata:
  name: http-exporter-arucio
  namespace: http
spec:
  type: ClusterIP
  ports:
  - port: 18012
    protocol: TCP
    name: http
  selector:
    app: http-exporter-arucio
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-exporter-arucio
  namespace: http
  labels:
     app: http-exporter-arucio
spec:
   replicas: 1
   selector:
     matchLabels:
       app: http-exporter-arucio
   template:
      metadata:
         labels:
           app: http-exporter-arucio
      spec:
        containers:
        - args:
          - /data/http_exporter
          - -uri
          - "https://cms-rucio-auth.cern.ch/ping"
          - -namespace
          - "rucio_auth"
          - -proxyfile
          - /etc/proxy/proxy
          - -port
          - ":18012"
          - -agent
          - "monitoring"
          - -renewClientInterval
          - "600"
          - -verbose
          name: http-exporter-arucio
          image: registry.cern.ch/cmsmonitoring/http-exporter:20220605
          ports:
          - containerPort: 18012
          volumeMounts:
          - name: proxy-secrets
            mountPath: /etc/proxy
            readOnly: true
        volumes:
        - name: proxy-secrets
          secret:
            secretName: proxy-secrets
