kind: Service
apiVersion: v1
metadata:
  name: karma
  namespace: default
spec:
  selector:
    app: karma
  type: NodePort
  ports:
  - port: 8080
    nodePort: 30080
    targetPort: 8080
    name: karma
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: karma
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: karma
  template:
    metadata:
      labels:
        app: karma
    spec:
      containers:
      - name: karma
        image: registry.cern.ch/cmsmonitoring/karma:20220605
#         imagePullPolicy: Always
        env:
        - name: ALERTMANAGER_URI
          value: http://alertmanager:9093
        - name: CONFIG_FILE
          value: /etc/secrets/karma.yaml
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: karma-secrets
          mountPath: /etc/secrets
      volumes:
      - name: karma-secrets
        secret:
          secretName: karma-secrets
