apiVersion: constraints.gatekeeper.sh/v1beta1
kind: K8sPSPReadOnlyRootFilesystem
metadata:
  name: read-only-root-filesystem
spec:
  match:
    kinds:
    - apiGroups:
      - ''
      kinds:
      - Pod
