apiVersion: constraints.gatekeeper.sh/v1beta1
kind: K8sContainerLimits
metadata:
  name: containerlimits
spec:
  match:
    kinds:
      - apiGroups: [""]
        kinds: ["Pod"]
    excludedNamespaces:
      - "auth"
  parameters:
    cpu: {{ .Values.limits.cpu }}
    memory: {{ .Values.limits.memory }}
