kind: Service
apiVersion: v1
metadata:
  name: dbs-migrate
  namespace: dbs
spec:
  selector:
    app: dbs-migrate
  ports:
    - port: 8251
      targetPort: 8251
      name: dbs-migrate
    - port: 18251
      targetPort: 18251
      name: dbs-mig-mon
    - port: 19251
      targetPort: 19251
      name: dbs-mig-cpy-mon
---
kind: Deployment
apiVersion: apps/v1
metadata:
  labels:
    app: dbs-migrate
  name: dbs-migrate
  namespace: dbs
spec:
  selector:
    matchLabels:
      app: dbs-migrate
  replicas: 1 #PROD# 2
  template:
    metadata:
      labels:
        app: dbs-migrate
    spec:
      containers:
      - image: cmssw/dbsmigration
        name: dbs-migrate
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "10Gi"
            cpu: "800m"
        ports:
        - containerPort: 8251
          protocol: TCP
          name: dbs-migrate
        - containerPort: 18251
          protocol: TCP
          name: dbs-mig-mon
        - containerPort: 19251
          protocol: TCP
          name: dbs-mig-cpy-mon
        volumeMounts:
        - name: proxy-secrets
          mountPath: /etc/proxy
          readOnly: true
        - name: secrets
          mountPath: /etc/secrets
          readOnly: true
        - name: hostkey
          mountPath: /etc/grid-security/hostkey.pem
          readOnly: true 
        - name: hostcert
          mountPath: /etc/grid-security/hostcert.pem
          readOnly: true 
#PROD#  - name: logs-cephfs
#PROD#    mountPath: /data/srv/logs/dbs
      volumes:
      - name: proxy-secrets
        secret:
          secretName: proxy-secrets
      - name: secrets
        secret:
          secretName: dbs-migrate-secrets
      - name: hostkey
        hostPath:
            path: /etc/grid-security/hostkey.pem
            type: File
      - name: hostcert
        hostPath:
            path: /etc/grid-security/hostcert.pem
            type: File
#PROD#- name: logs-cephfs
#PROD#  persistentVolumeClaim:
#PROD#      claimName: logs-cephfs-claim-dbs
