kind: Service
apiVersion: v1
metadata:
  name: ms-output
  namespace: dmwm
spec:
  selector:
    app: ms-output
  ports:
    - port: 8245
      targetPort: 8245
      name: ms-output
    - port: 18245
      targetPort: 18245
      name: ms-output-mon
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: ms-output
  labels:
    app: ms-output
  namespace: dmwm
data:
  setup-certs-and-run.sh: |
    #!/bin/bash
    cp /host/etc/grid-security/* /etc/grid-security
    echo 'INFO Files in /etc/grid-security'
    ls -lahZ /etc/grid-security
    su  -c "cd /data && /data/run.sh" --preserve-environment _reqmgr2ms
---    
kind: Deployment
apiVersion: apps/v1
metadata:
  labels:
    app: ms-output
  name: ms-output
  namespace: dmwm
spec:
  selector:
    matchLabels:
      app: ms-output
  replicas: 1
  template:
    metadata:
      labels:
        app: ms-output
        env: k8s-test #k8s#
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: "18245"
    spec:
      # use hostNetwork to allow communication between reqmgr2ms/reqmon/workqueue and couch
#       hostNetwork: true
#       dnsPolicy: ClusterFirstWithHostNet
      securityContext:
        runAsUser: 0
        runAsGroup: 0
      containers:
      - image: cmssw/reqmgr2ms #imagetag
        name: ms-output
        lifecycle:
          postStart:
            exec:
              command:
              - bash
              - -c
              - sudo chmod 0777 /data/srv/logs/reqmgr2ms; sudo chown _reqmgr2ms:_reqmgr2ms /data/srv/logs/reqmgr2ms
        livenessProbe:
          exec:
            command:
            - cmsweb-ping
            - "--url=http://localhost:8245/ms-output/data/status"
            - "--authz=/etc/hmac/hmac"
            - -verbose
            - "0"
          initialDelaySeconds: 120
          periodSeconds: 10
        resources:
          requests:
            memory: "256Mi"
            cpu: "300m"
          limits:
            memory: "3Gi"
            cpu: "1000m"
        ports:
        - containerPort: 8245
          protocol: TCP
          name: ms-output
        - containerPort: 18245
          protocol: TCP
          name: ms-output-mon
        command:
        - /bin/bash
        - /opt/setup-certs-and-run/setup-certs-and-run.sh
        volumeMounts:
        - name: proxy-secrets
          mountPath: /etc/proxy
          readOnly: true
        - name: secrets
          mountPath: /etc/secrets
          readOnly: true
        - name: robot-secrets
          mountPath: /etc/robots
          readOnly: true
        - name: hmac-secrets
          mountPath: /etc/hmac
          readOnly: true
        - mountPath: /host/etc/grid-security
          name: etc-grid-security
          readOnly: true
        - name: setup-certs-and-run
          mountPath: /opt/setup-certs-and-run
#PROD#  - name: logs-cephfs
#PROD#    mountPath: /data/srv/logs/reqmgr2ms
        securityContext:
          privileged: true
      initContainers:
      - name: checkmongodb
        image: busybox:1.28
        command: ['sh', '-c', 'until nslookup ms-output-mongo.dmwm; do echo "Waiting for ms-output-mongo"; sleep 10; done;']
      volumes:
      - name: proxy-secrets
        secret:
          secretName: proxy-secrets
      - name: secrets
        secret:
          secretName: reqmgr2ms-output-secrets
      - name: robot-secrets
        secret:
          secretName: robot-secrets
      - name: hmac-secrets
        secret:
          secretName: hmac-secrets
      - name: etc-grid-security
        hostPath:
            path: /etc/grid-security
      - name: setup-certs-and-run
        configMap:
          name: ms-output
#PROD#- name: logs-cephfs
#PROD#  persistentVolumeClaim:
#PROD#      claimName: logs-cephfs-claim-dmwm
